.footer{
  max-width: 1170px;
  padding: 15px 0;
  background: #000000;
}
.foot-content{
    max-width: 1170px;
    line-height: 100px;
    display: block;
    align-items:center;
    justify-content: center;
  }
.foot-link{
    width: 400px; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;

    }
.foot-link::after{
    content:"2015 Axure Themes";
    width: 90px;
    height: 2px;
    font-size: 10px;
    font-weight: 100;
    color:#fff;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -20%);
    
  }
.foot-link-img i{
    width: 40px;
    font-size:23px; 
    display:inline-block;
    align-items:center;
    justify-content: center;
    color:#fff;
    border-radius: 50%;
   }
