.header{
   max-width: 1170px;
   padding: 5px 0;
    background-color: #000000;
    position:sticky;
    top:0px;
    z-index: 999;
}
.head-contant{
    max-width: 1170px;
    height: 70px;   
    margin: 0 -15px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
   }
.axit{
    color:#fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    width: 68px;
    height: 31px;
       position: relative;
    top:0px;
    left: 0px;
    padding: 20px;
    }
.axit::before{
    content:"IT";
    color:#EC7979;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    position: absolute;
    margin-left: 40px;
}
.axit-info{
    width: 500px;
    margin: 0 15px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    }
    .axit-info-feaut{
        width: 80px;
        height: 40px;
        display: inline-block;  
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        transition: 0.5s;
        color: rgba(255, 255, 255, 0.7);
        border-bottom:2px solid rgb(0, 0, 0);
    }
    .axit-info-feaut:hover{
        border-bottom:2px solid rgb(223, 207, 207);
        /* box-shadow:0px -10px 22px 0  rgb(121, 67, 67); */
    }
    .axit-info-revi{
        width: 80px;
        height: 40px;
        display: inline-block;  
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        transition: 0.5s;
        color: rgba(255, 255, 255, 0.7);
        border-bottom:2px solid rgb(0, 0, 0);
    }
    .axit-info-revi:hover{
        border-bottom:2px solid rgb(223, 207, 207);
        box-shadow:0px -10px 22px 0  rgb(121, 67, 67);
    }
    .axit-info-pric{
        width: 80px;
        height: 40px;
        display: inline-block;  
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        transition: 0.5s;
        color: rgba(255, 255, 255, 0.7);
        border-bottom:2px solid rgb(0, 0, 0);
    }
    .axit-info-pric:hover{
        border-bottom:2px solid rgb(223, 207, 207);
        box-shadow:0px -10px 22px 0  rgb(121, 67, 67);
    }
.axit-info-about{
        width: 80px;
        height: 40px;
        display: inline-block;  
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        transition: 0.5s;
        color: rgba(255, 255, 255, 0.7);
        border-bottom:2px solid rgb(0, 0, 0);
}
.axit-info-about:hover{
    border-bottom:2px solid rgb(223, 207, 207);
    box-shadow:0px -10px 22px 0  rgb(121, 67, 67);
}
.axit-info-cont{
    width: 80px;
    height: 40px;
    display: inline-block;  
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.7);
    border-bottom:2px solid rgb(0, 0, 0);
}
.axit-info-cont:hover{
    border-bottom:2px solid rgb(223, 207, 207);
    box-shadow:0px -10px 22px 0  rgb(121, 67, 67);
}