@import url("./cdn.css");
@import url("./header.css");
@import url("./portfolio.css");
@import url("./price.css");

*{
    max-width: 1900px;
    margin: 0 15px;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; 
     
}
.tittle{
    font-family:"Raleway", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 34px;
    
}

