.modern{
    padding: 80px 0;   
    background:url("../img/background-1\ 1.png") no-repeat center;
    position: relative;
}
.modern-head{
    max-width: 1170px;
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    position: relative;
}
.modern::after{
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    
}
.modern-wrap{
    width: 544px;
    margin: 0 15px;
    z-index: 10;
}
.modern-wrap span{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    color:#fff;
    }
.modern-wrap span::after{
    content:"IT";
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    color:#EC7979;
    }
.modern-temp{
    width: 544px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color:#fff;
    margin-top:42px;
    }
.modern-temp::after{
    content:"";
    width: 64px;
    height: 2px;
    border: 1px solid #FFFFFF;
    background-color: #fff;
    display:block;
    margin:34px 0; 
}    
.modern-wrap p{
    width: 182px;
    font-family:'Open sans';
    font-weight: 200;
    font-size: 12px;
    line-height: 20px;
    color:#fff;
    margin-bottom: 50px;
}
.modern-free{
    width: 370px;
 }
.try{
    width: 370px;
    height:370px;
    margin: 0 15px;
    background:#FFF;
    border-radius: 5px;
    z-index:10;
    overflow: hidden;
  }

.form-content {
    width: 370px;
    padding: 20px 59px;
    margin: auto;
    display:block;
    justify-content:space-around;
    align-items:center;
}
.form-tittle{
    font-family: 'Open sans';
    font-weight: 700;
    font-size: 20px;
    color:#333333;
    text-align: center;
    line-height: 27px;
    margin: 20px auto 44px;
   }
.form-tittle span{
    font-family: 'Open sans';
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color:#EC7979;
}
.form-content label{
    font-family: 'Open sans';
    font-weight: 300;
    font-size: 15px;
    color:#BDBDBD;
}
.form-content-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    }
.form-content-item:nth-last-child(1){
    margin-bottom: 0px;
    }
.form-input{
    width: 100%;
    border:none;
    outline: none;
    border-bottom: 1px solid #BDBDBD;
}
.btn-form{
    width: 370px;
    display: inline-block;
    border: 1px solid rgb(138, 37, 37);
    text-align: center;
    line-height: 40px;
    background-color: #EC7979;
    color:#FFF;
    margin-top: 11px;
    position: relative;
    transition: 0.3s;
   }
.btn-form:hover{
    background-color:#FFF;
    color:#EC7979;
    box-shadow:2px 2px 5px 0 #EC7979;
   }
.btn-wrap{
    width: 135px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid #fff;
    color:#FFF;
    text-align: center;
    transition: 0.3s;
}
.btn-wrap:hover{
    background-color: transparent;
    box-shadow: -2px -2px 5px 0 #fff;
    transform: scale(1.02);
    }