.tabs{
    max-width: 1170px;
    padding: 80px 0;
}
.tabs-content{
    display:flex;
    justify-content: space-between;
 }
.tabs-btn{
    display: inline-block;
    justify-content: space-between;
    align-items:center;
    margin:0 15px;
}
.tab__btn{
    width: 110px;
    height:110px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border:1px solid #000000;
    border-radius:5px;
    background-color: #000000;
    color:#fff;
    transition: 0.4s;
    }
.tab__btn:hover{
    background-color: #EC7979;
    border:1px solid #EC7979;
    transform: scale(0.85);
}
.tabs-head{
    margin: 0 15px;
}
.tab__head{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 58px;
}
.tab__tittle{
    margin-bottom: 20px;
}
.tab__tittle p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.tab__massage{
    margin-bottom: 70px;
}
.tab__massage p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.tabs-link{
width: 135px;
line-height: 42px;
text-align: center;
background-color: #EC7979;
color: #FFFFFF;
}
.tabs-link a{
    background-color: #EC7979;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}
.tabs-img{
    margin: 0 15px;
}